img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: lime;
    background: black;
  }
}
